.Modal{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    
    backdrop-filter:blur(10px);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:3rem;
}
.Overlay{
    background-color: white;
}