.Modal{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    backdrop-filter:blur(10px);
    animation: blur-in 2s forwards;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:3rem;
    background-color: rgba(0,0,0,0.85);
 /*    box-shadow:0 0 0 30px black;
    -webkit-box-shadow: 0 0 0 
    30px black inset !important; */
}
//animation to blur in blackdrop filter
@keyframes blur-in {
    from {
      backdrop-filter: blur(0px);
    }
    to {
      backdrop-filter: blur(10px);
    }
  }
.Overlay{
    background-color: white;
}