
nav {
    color:white;
    position: absolute;
    top: 20px;
    right: 30px;
    width:200px;;
    display:flex;
}


nav .left li a{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:2.2rem;
    font-family:"Branch"
}
.right li:hover span , .left li span span {
    color: wheat;
}
button.menuToggle{
   background:none;
   border:none;
   color:var(--textColor);
   font-family:"Migha";
   font-size:2rem;
   font-weight:bolder;
   cursor:pointer;
   animation:fromRightToLeft 2s;
}
nav{
    padding:20px 30px;
}
//set color to grey until hover
.right li {
    display:flex;
    justify-content:space-evenly;
    width:500px;
    font-weight:700;
    font-size: 3.2rem;
    font-family:"Telegraf-UltraBold";
     color:var(--accentColor);
}

/*when one element is hovered, change color and blur others*/
.right:hover  li{
    opacity:.5;
}

//change half to white other half to green on hover
.right li:hover{
    opacity:2;
}

.right{
    position:absolute;
    top:60%;
    /*so menu elements load left to right*/
    left:0%;
    width:100vw;
}
nav .right{
    width: 100vw;
    justify-content: center;
}
svg {
    background-color:black;
}
button.menuToggle:hover{
    color:var(--accentColor);
    transition:color ease-in-out .5s;
}
nav button.menuToggle:hover  ~ .cursorContainer .cursorCircle {
    height:40px;
    width:40px;
}
nav:hover ~ .cursorCircle{
    height:50px;
    width:50px;
    mix-blend-mode: difference;

}
/*create toggle for themes*/
label.themeToggle{
    width: 75px;
    height: 30px;
    background: $red;
    display: block;
    border-radius: 100px;
    position: relative;
}

label.themeToggle:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 30px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}
nav input:checked + label.themeToggle{
    background:$blue;
}
nav input:checked + label.themeToggle:after {
	left: calc(100% - 1px);
	transform: translateX(-100%);
}

label.themeToggle:active:after {
	width: 130px;
}

nav input{
    animation:fromTopToBottom 2s;
    display:none;
    


}
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
    .right {
        display
    }
} */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .right li{
        font-size:1.5rem;
    }
}

@media only screen and (min-width: 992px) {
    .right li{
        font-size:2rem;
       
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {
    .right li{
        font-size:2.5rem;
    }
}

@keyframes fromRightToLeft{
    from{ margin-left:100px }
    to{ margin-right:0px }
}
@keyframes fromTopToBottom{
    from{margin-top:-100px}
    to{margin-top:0px}
}