/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .right {
       top:10%;
       flex-direction:column;
       align-items:center;
       gap:10px;
    }
    .right li{
        border-bottom:2px solid var(--accentColor);
    }
    .right li:nth-child(1){
        border-top:2px solid var(--accentColor);
    }
    .Modal{
        background-color:var(--backgroundColor);
    }
    nav{
        position:relative;
        margin-left:50%;
        width:100vw;
        padding-top:0px;
    }

}
