nav ul{
    display:flex;
    color:white;
    width:100%;
    justify-content: space-between;
}


nav .left li a{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:2rem;
    font-family:"Branch"
}
.right li:hover span , .left li span span {
    color: $green;
}
button.menuToggle{
   background:none;
   border:none;
   color:white;
   font-family:"Cotta";
   font-size:1.5rem;
   position:absolute;
   top:20px;
   right:30px;
   cursor:pointer;
}
nav{
    padding:20px 30px;
}
//set color to grey until hover
.right li {
    display:flex;
    justify-content:space-evenly;
    font-family:"Branch";
    font-size:2.4rem;
    width:500px;
    font-weight:700;
   color:white;
}
/*when one element is hovered, change color and blur others*/
.right:hover  li{
  
    opacity:.5;
    
    
}
.right li:hover{
    opacity:1;
   
}
//change half to white other half to green on hover
.right li:hover{
    color:white;
    transition:.5s ease-in
}
nav ul .right li:hover span{
  color:$green;
  transition:.5s ease-in
}
.right{
    position:absolute;
    top:60%
}
