nav ul{
    display:flex;
    color:white;
    width:100%;
    justify-content: space-between;
    padding: 15px 20px 0px 20px;
}
nav ul .right {
    display:flex;
    justify-content:space-evenly;
    font-family:"Cotta";
    font-size:1.8rem;
    width:500px;
    color:#ffffff5c
}
nav ul .right li:hover{
    color:white;
    transition:.5s ease-in
}
nav ul .right li:hover span{
  color:$green;
  transition:.5s ease-in
}

nav .left li a{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:2rem;
    font-family:"Branch"
}
nav ul span span {
    color: $green;
}
