.aboutContainer{
    padding-top:100px;
    margin-left:50px;
    margin-right:50px;
}
section.quoteContainer{
    grid:1/2
}
 section.aboutMe{
   grid:2/3
}
section.quoteContainer{
    font-size:2.5rem;
    font-family:"Branch";
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    font-style:italic;
    padding-bottom: 50px;
}
.quoteContainer h1{
    color:var(--textColor);
    line-height:1.5em;
    width:550px;
    padding-top:50px;
    font-family:'math';
    font-size:2rem;
    animation:bottomToTop 1s ease forwards;
    
}
.quoteContainer h2{
    color:var(--textColor);
    margin-top:30px;
    font-family:"Telegraf-UltraBold";
    animation:bottomToTop 1s ease forwards;
}
section.aboutMe{
    margin-left:50px;
    margin-right:50px;
}
section.aboutMe h1{
    font-size:5rem;
    font-family:"Migha";
    color:var(--accentColor);
    margin-bottom:30px;
    animation:bottomToTop 1s ease forwards;
   
}
section.aboutMe p{
    font-size:2rem;
    font-family:"Telegraf-Regular";
    color:var(--textColor);
    line-height:1.6em;
    word-spacing: 5px;
    max-width: 1300px;
    min-width:600px;
    animation:bottomToTop 1s ease forwards; 
   
}
section.aboutMe p span {
    color:var(--accentColor);
    font-family:"Telegraf-UltraBold";
}
@keyframes bottomToTop{
    from{
        opacity:0;
        transform:translateY(100%)
    }
    to{
        opacity: 1;
        transform:none;
    }
} 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    section.aboutMe p {
        font-size:1.8rem;
    }
    .quoteContainer h1{
        width:500px;
    }
}
