

@media only screen and (max-width: 920px) {

 
} 
@media only screen and (max-width: 820px) {
 
} 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 section.aboutMe p{
    min-width:300px;
    font-size:1.3rem;
 }
 .aboutContainer{
    margin-left:0px;
    margin-right:0px;
    overflow-x: scroll;
 }
 .quoteContainer h1{
    width:70vw;
    font-size:1.4rem;
 }
 .quoteContainer h2{
    font-size:1.5rem;
 }
} 
@media only screen and (max-width: 550px){


} 

@media only screen and (max-width: 380px) {
   
      
} 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 290px) {
    section.aboutMe p{
        min-width:200px;
        font-size:1rem;
     }
     section.aboutMe h1{
        font-size:3rem;
     }
} 
