form.contact{
    display:flex; 
    flex-direction:column;
    margin-top:50px;
 
}
form.contact label{
    font-size:4rem;
    color:white;
    font-family:'Branch';
    animation:growForm 4s;
}
input{
    border:none;
    border-bottom:2px solid $blue;
    outline:0;
    background:none;
    width:400px;
    color:white;
    font-size:2rem;
    font-family:"Cotta"
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 
    30px black inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}
form.contact button{
    background-color:$blue;
    border-radius:50%;
    border:none;
    height:300px;
    width:300px;
    font-size:3rem;
    font-family:"Migha";
    margin-top:50px;
    animation:changeColor 4s;
    position:absolute;
    top:60%;
    left:55%;
}
form.contact button:hover{
    background-color:black;
    border:$blue 2px solid;
    color:$blue;
    float:left;
    cursor:pointer;
}
.contactGreeting{
    color:$blue;
    font-size:7rem;

}
.contactContainer{
    display:flex;
    flex-direction:column;
    padding-left:50px;
    padding-top:50px;
}
.contactGreeting {
    padding-top: 200px;
    padding-left:100px;

}
.contactGreeting:hover  ~  .cursorCircle {
    height:250px;
    width:250px;
}
.contactGreeting:hover  ~  .cursorCircle::after{
    content:"I DON'T BITE 🤩";
    display: block;
    width: 100%;
    text-align: center; 
    font-family:"migha";
    position:absolute;
    top:110px;
    font-size:2rem;
    color:white;;
}
@keyframes changeColor{
    from{ background-color:transparent; border:2px solid $blue; border-radius:50%}
    to{ background-color:$blue };
}
@keyframes growForm{
    from{visiblity:hidden};
    to{visibility:visible};
}