form.contact{
    display:flex; 
    flex-direction:column;
    margin-top:50px;
 
}
form.contact label{
    font-size:4rem;
    color:var(--textColor);
    font-family:'Branch';
    animation:growForm 4s;
}
input{
    border:none;
    border-bottom:2px solid var(--accentColor);
    outline:0;
    background:none;
    width:400px;
    color:var(--textColor);
    font-size:2rem;
    font-family:"Cotta"
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 
    30px black inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}
form.contact button{
    background-color:var(--buttonColor);
    border-radius:50%;
    border:none;
    height:300px;
    width:300px;
    font-size:3rem;
    font-family:"Migha";
    margin-top:50px;
    margin-left:50%;
    animation:changeColor 4s;
 
    
}
form.contact button:hover{
    background-color:var(--backgroundColor);
    border:var(--accentColor) 2px solid;
    color:var(--accentColor);
    float:left;
    cursor:pointer;
}
form.contact p{
    color:$blue;
    font-size:1.5rem;
    font-family:"Branch";
    margin-top:20px;
}
.contactGreeting{
    color:var(--accentColor);
    font-size:7rem;

}
.contactContainer{
    display:flex;
    flex-direction:column;
    padding-left:50px;
    padding-top:50px;
}
.contactGreeting {
    padding-top: 200px;
    padding-left:100px;
}
.contactGreeting:hover  ~  .cursorCircle {
    height:250px;
    width:250px;
    mix-blend-mode: difference;
}
.contactGreeting:hover  ~  .cursorCircle::after{
    content:"I DON'T BITE 🤩";
    display: block;
    width: 100%;
    text-align: center; 
    font-family:"migha";
    position:absolute;
    top:110px;
    font-size:2rem;
    color:white;;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    form.contact label{
        font-size:1.6rem;
    }
    
} 

@media only screen and (max-width: 992px) {
    form.contact label{
        font-size:1.8rem;
    }

}
@media only screen and (max-width: 1200px) {
    form.contact label{
        font-size:2.3em;
    }

}
@keyframes changeColor{
    from{ background-color:transparent; border:2px solid var(--accentColor); border-radius:50%}
    to{ background-color:var(--accentColor) };
}
@keyframes growForm{
    from{visiblity:hidden};
    to{visibility:visible};
}