@import "../themes.scss";
.animationHomePageClassA{
    animation-name:transitionWordsA;
    animation-duration:4s;
    animation-timing-function: ease-in-out;
}
.animationHomePageClassB{
    animation-name:transitionWordsB;
    animation-duration:4s;
    animation-timing-function: ease-out;
}
header.firstLastName{
    position:absolute;
    top:25%;
    left:3%;
    display:flex;
    flex-direction:column;
    font-style:italic;
    font-family:"migha";
    animation: fadeIn 2s;
  
}
header.firstLastName:hover ~ .cursorCircle{
height:160px;
width:160px;

}
header.firstLastName:hover ~ .cursorCircle::before{
    content:"HELLO, I'M";
    display: block;
    width: 100%;
    text-align: center; 
    font-family:"migha";
    position:absolute;
    top:60px;
    font-size:2rem;
    color:white;
}
.firstLastName h1 span {
    font-family:"migha"
}
header h1.first {
    font-size:12rem;
    color:var(--textColor);
    width: 660px;
    @extend .animationHomePageClassA;
   
}

header h1.first:hover, header h1.last:hover,.nameTitle h3:hover{
    color:transparent;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: var(--strokeColor);
}


header h1.last{
 
    font-size:12rem;
    color:var(--textColor);
    @extend .animationHomePageClassB
}
.nameTitle h3 {
    font-size:4.2rem;
    width:640px;
    margin-left:20px;
    color:var(--textColor);
    border-bottom: 2px solid var(--accentColor);
    @extend .animationHomePageClassA
}
.nameTitle {
    display:flex;
    flex-direction:column;
}
.cursorCircle{
    background-color:var(--accentColor);
    height:20px;
    width:20px;
    border-radius:50%;
    position:fixed;
    transform:translate(-50%,-50%);
    pointer-events:none;
}
.homepageContainer{
    width:100vw;
    height:100vh;
}
.cursorContainer{
    height:100vh;
    width:100vw;
    overflow-x:hidden;
    background-color:var(--backgroundColor); 
}
.loaderHello{
    font-size:5rem;
    font-family:'Branch';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:var(--accentColor);
}
.loadingContainer{
    width:100vw;
    height:100vh;
    position:relative;
    z-index:2;
    background-color:black;
    transition: display 2s ease-in-out;
    animation: fadeOut 2s;
    
}
@keyframes transitionWordsA{
    0%{color:transparent;
        -webkit-text-stroke-width: 0.1rem;
        -webkit-text-stroke-color: var(--strokeColor);}
    35%{ 
        color:white;
    }
    65%{color:transparent;
        -webkit-text-stroke-width: 0.1rem;
        -webkit-text-stroke-color: var(--strokeColor);}
    
 
}
@keyframes transitionWordsB{
    0%{ 
        color:white;
    }
    35%{color:transparent;
        -webkit-text-stroke-width: 0.1rem;
        -webkit-text-stroke-color: var(--strokeColor);}
  
  
    65%{color:transparent;
        -webkit-text-stroke-width: 0.1rem;
        -webkit-text-stroke-color: var(--strokeColor);}
}
@keyframes fadeIn {
    from{ opacity: 0; }
    to{ opacity:1; }
}
@keyframes fadeOut {
    from{ opacity: 1; }
    to{ opacity:.5; }
}
