@import "base/reset";
@import "utilities/variables";
@import "layout/all";
@import "components/all";
@import "sections/all";
@import"themes";

@font-face {
    font-family: 'Abril Fatface';
    src:   local("Abril Fatface"),
    url(../../public/fonts/AbrilFatface-Regular.ttf) format("truetype");
}
@font-face {
    font-family:'Niconne';
    src: local('Niconne'),
    url(../../public/fonts/Niconne-Regular.ttf) format("truetype");
}
@font-face {
    font-family:'Cotta';
    src: local('Cotta'),
    url(../../public/fonts/cotta-free.ttf) format("truetype");
}
@font-face {
    font-family:'Branch';
    src: local('Branch'),
    url(../../public/fonts/Branch.ttf) format("truetype");
}
@font-face {
    font-family:'Migha';
    src: local('Migha'),
    url(../../public/fonts/Migha.ttf) format("truetype");
}
@font-face {
    font-family:'Vegawanty';
    src: local('Vegawanty'),
    url(../../public/fonts/Vegawanty.ttf) format("truetype");
}
@font-face {
    font-family:'Telegraf-Regular';
    src: local('Telegraf-Regular'),
    url(../../public/fonts/Telegraf-Regular.ttf) format("truetype");
}
@font-face {
    font-family:'Telegraf-UltraBold';
    src: local('Telegraf-UltraBold'),
    url(../../public/fonts/Telegraf-UltraBold.ttf) format("truetype");
}
@font-face {
    font-family:'Telegraf-UltraLight';
    src: local('Telegraf-UltraLight'),
    url(../../public/fonts/Telegraf-UltraLight.ttf) format("truetype");
}

