$blue:#2217f1;
$linen:#f7eee3;
$black:#1c1c1c;
$red:#f13a38;
$themes:(
  light: (
    --backgroundColor: #{$linen},
    --textColor: #{$black},
    --buttonTextColor: white,
    --buttonTextHoverColor: #{$red},
    --buttonColor: #{$red},
    --buttonBorderHover: 2px solid #{$red},
    --accentColor:#{$red},
    --filterVals:invert(30%) sepia(93%) saturate(1154%) hue-rotate(332deg) brightness(98%) contrast(104%),
    --svgBackground:transparent,
    --filterSocials:none,
  ),
  dark: (
   --backgroundColor: black,
   --textColor: white,
   --buttonTextColor: black,
   --buttonTextHoverColor: #{$blue},
   --buttonColor: #{$blue},
   --buttonBorderHover: 2px solid #{$blue},
   --accentColor:#{$blue},
   --svgBackground:#{$blue},
   --filterVals: invert(9%) sepia(100%) saturate(7293%) hue-rotate(251deg) brightness(89%) contrast(113%),
   --filterSocials: invert(9%) sepia(100%) saturate(7293%) hue-rotate(251deg) brightness(89%) contrast(113%),
  )
);
@mixin theme($theme) {
  @each $var, $value in map-get($themes, $theme) {
    --#{$var}: #{$value};
  }
}

.light-theme {
  @include theme(light);
}

.dark-theme {
  @include theme(dark);
}


