/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import '../themes.scss';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
	background-color:var(--backgroundColor,$linen); 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration:none;
	color:inherit;
}

@media only screen and (max-width: 750px) {
	body{
		position:relative;
	}
	html{
		overflow-x:hidden;
	}
}  
body.theme-light {
	--backgroundColor: #{$linen};
	--textColor: #{$black};
	--buttonTextColor: white;
	--buttonTextHoverColor: #{$red};
	--buttonColor: #{$red};
	--buttonBorderHover: 2px solid #{$red};
	--accentColor: #{$red};
	--strokeColor:black;
	--filterVals: invert(30%) sepia(93%) saturate(1154%) hue-rotate(332deg) brightness(98%) contrast(104%);
	--svgBackground:transparent;
	--filterSocials:none;
  }
  
  body.theme-dark  {
	--backgroundColor: black;
	--textColor: white;
	--buttonTextColor: black;
	--buttonTextHoverColor: #{$blue};
	--buttonColor: #{$blue};
	--buttonBorderHover: 2px solid #{$blue};
	--accentColor: #{$blue};
	--strokeColor:white;
	--svgBackground:#{$blue};
	--filterVals:invert(9%) sepia(100%) saturate(7293%) hue-rotate(251deg) brightness(89%) contrast(113%);
	--filterSocials: invert(9%) sepia(100%) saturate(7293%) hue-rotate(251deg) brightness(89%) contrast(113%);
  }